* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  // Headings
  font-family: "Poppins", sans-serif;
  // Body
  // font-family: "Open Sans", sans-serif;
}
